<header>
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/centre/prof">Profes</a></li>
            <li><a href="http://127.0.0.1:8000/centre/users">Alumnes</a></li>
            <li><a href="http://127.0.0.1:8000/centre/formulari">Afegir usuari</a></li>
        </ul>
    </nav>
</header>



<style>
    header nav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
    }

    header nav ul li {
        margin-right: 20px;
    }

    header nav ul li:last-child {
        margin-right: 0;
    }

    header nav ul li a {
        text-decoration: none;
        color: black; 
        font-weight: bold; 
    }
</style>