{% extends 'index_centre.html' %}
{% block content %}
<div>
    <p>Benvingut a la pàgina de professors de la app Prova!</p>
    <p>Dades dels professors:</p>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Cognom</th>
            <th>Edat</th>
            <th>Rol</th>
            <th>Curs</th>
        </tr>
        {% for professor in professors %}
        <tr>
            <td>{{ professor.id }}</td>
            <td>{{ professor.name }}</td>
            <td>{{ professor.surname }}</td>
            <td>{{ professor.age }}</td>
            <td>{{ professor.rol }}</td>
            <td>{{ professor.curs }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
