{% extends 'index_centre.html' %}
{% block content %}
<div>
    <p>Benvingut a la pàgina d'usuaris de la app Prova!</p>
    <p>Dades dels usuaris:</p>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Cognom</th>
            <th>Edat</th>
            <th>Rol</th>
            <th>Curs</th>
        </tr>
        {% for alumne in alumn %}
        <tr>
            <td>{{ alumne.id }}</td>
            <td>{{ alumne.name }}</td>
            <td>{{ alumne.surname }}</td>
            <td>{{ alumne.age }}</td>
            <td>{{ alumne.rol }}</td>
            <td>{{ alumne.curs }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
